[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
djangorestframework = "*"
google-auth = "*"
google-auth-httplib2 = "*"
gunicorn = "*"
pandas = "*"
peewee = "*"
plotly = "*"
psycopg2 = "*"
python-dateutil = "*"
python-dotenv = "*"
python-easytrack = "*"
python-jose = "*"
python-social-auth = "*"
python3-openid = "*"
requests-oauthlib = "*"
social = "*"
social-auth-app-django = "*"
social-auth-core = "*"

[dev-packages]
djlint = "*"
pylint = "*"

[requires]
python_version = "3.9"
