{% extends 'base.html' %}
{% load fix_localhost timestamp_html_datetime_input %}

{% block content %}

    <!-- Page title -->
    <h3>{% if campaign is not None %}Edit campaign{% else %}Create new campaign{% endif %}</h3>
    <hr class="mt-0 mb-5">

    <!-- Campaign configurations (metadata and data sources) -->
    <div class="container">
        <div class="row mt-4">

            <!-- Campaign metadata -->
            <div class="col-lg-6 mb-4">
                <div class="card shadow ps-4 pe-4 pb-4 pt-2">
        
                    <!-- Metadata section title -->
                    <h5 class="mt-3 text-primary">Campaign information (metadata)</h5>
                    <!-- Helper text that explains section -->
                    <p class="small text-muted mt-1">Basic details about data collection study.</p>
                    
                    <!-- Campaign name input -->
                    <div class="mt-4">
                        <label for="campaignName" class="text-primary text-opacity-75 form-label">Campaign name</label>
                        <input id="campaignName" type="text" class="form-control" placeholder="e.g. Student lifestyle study">
                    </div>

                    <!-- Campaign description input -->
                    <div class="mt-3">
                        <label for="campaignDescription" class="text-primary text-opacity-75 form-label">Campaign description</label>
                        <textarea id="campaignDescription" class="form-control" rows="3" placeholder="Notes on the campaign"></textarea>
                    </div>

                    <!-- Campaign start/end datetimes as single row -->
                    <div class="row mt-3">
                        <div class="col">
                            <label for="startTime" class="text-primary text-opacity-75 form-label">Start date and time</label>
                            <input id="startTime" type="datetime-local" class="form-control">
                        </div>
                        <div class="col">
                            <label for="endTime" class="text-primary text-opacity-75 form-label">End date and time</label>
                            <input id="endTime" type="datetime-local" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Data sources -->
            <div class="col-lg-6 mb-4">
                <div class="card shadow ps-4 pe-4 pb-4 pt-2">
        
                    <!-- Metadata section title -->
                    <h5 class="mt-3 text-primary">Campaign data sources</h5>
                    <!-- Helper text that explains section -->
                    <p class="small text-muted mt-1">Details about the data collected in this study.</p>
                    
                    <!-- Selecting from existing data sources -->
                    <span class="text-primary text-opacity-75 mt-4">Existing data sources</span>
                    <hr class="mt-0">
                    
                    <!-- Existing data sources (for selection) -->
                    {% for data_source in data_sources %}
                        <div class="form-check mb-3">
                            <label class="form-check-label" style="cursor: pointer">
                                <!-- Data source selection checkbox -->
                                <input class="form-check-input data-source-checkbox" style="cursor: pointer" data-source-name="{{data_source.name}}" type="checkbox" {% if data_source.selected %}checked{%endif%}>
                                <!-- Data source name -->
                                <span class="pl-1">
                                    {{data_source.name}} ({{data_source.columns}})
                                </span>
                            </label>
                        </div>
                    {% endfor %}

                    <!-- New data sources (for creation) -->
                    <span class="text-primary text-opacity-75 mt-5">New data sources</span>
                    <hr class="mt-0">
                    <div id="divNewDataSources">
                        <!-- New data sources are dynamically added here -->
                    </div>

                    <!-- Button to create new data source -->
                    <div class="text-center mt-5">
                        <a id="btnOpenDataSourceModal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNewDataSource">
                            Add new data source
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Save/cancel buttons (campaign creation) -->
        <div class="text-center">
            <button id="btnCancel" type="button" class="btn btn-lg btn-secondary">Cancel</button>
            <button id="btnSaveCampaign" type="button" class="btn btn-lg btn-success">Save campaign</button>
        </div>
    </div>

    <!-- Data source modal dialog -->
    <div class="modal modal-lg fade" id="modalNewDataSource" tabindex="-1" aria-labelledby="lblNewDataSource" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <!-- Dialog title -->
                <div class="modal-header">
                    <h5 class="modal-title" id="lblNewDataSource">Data source details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Inputs for data source name and columns -->
                <div class="modal-body mb-4">
                    
                    <!-- Data source name -->
                    <div class="mt-2">
                        <label for="dataSourceName" class="text-primary text-opacity-75 form-label">Data source name</label>
                        <input id="dataSourceName" type="text" class="form-control" placeholder="e.g. GPS">
                    </div>

                    <!-- Data source columns -->
                    <div class="mt-5">
                        <label for="dataSourceColumns" class="text-primary text-opacity-75 form-label">Data source columns</label>
                        
                        <!-- Table with information about data source columns -->
                        <table id="tableNewDataSources" class="table table-bordered table-sm small">
                            <thead>
                                <tr>
                                    <th>Column name</th>
                                    <th>Column type</th>
                                    <th class="text-center">Categorical</th>
                                    <th class="text-center">Accepted values</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <!-- Column name -->
                                    <td>
                                        <input type="text" name="columnName" class="form-control" placeholder="e.g. Timestamp" required>
                                    </td>
                                    
                                    <!-- Column type -->
                                    <td>
                                        <select name="columnType" class="form-select" style="cursor: pointer" required>
                                            <option>Timestamp</option>
                                            <option>Text</option>
                                            <option>Integer</option>
                                            <option>Float</option>
                                        </select>
                                    </td>

                                    <!-- Categorical or quantitative (checkox) -->
                                    <td class="text-center align-middle">
                                        <input name="columnCategorical" class="form-check-input" style="cursor: pointer" type="checkbox">
                                    </td>

                                    <!-- Column constraints -->
                                    <td class="text-center">
                                        <input type="text" name="columnAcceptedValues" class="form-control" placeholder="e.g. 0,1,2,3,4,5">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Button to add new column -->
                        <div class="text-center">
                            <a id="btnAddColumn" class="btn btn-primary btn-sm">Add new column</a>
                        </div>
                    </div>
                </div>

                <!-- Save/cancel data source creation -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="btnAddNewDataSource" type="button" class="btn btn-success">Add data source</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var newDataSources = []; // array of new data sources to be added to the campaign
        const existingDataSourceNames = [{% for data_source in data_sources %}"{{data_source.name}}", {% endfor %}];

        // init e.g. set existing campaign details, set listeners
        $(document).ready(function() {
            {% if campaign is not None %}
                // editing an existing campaign
                $('#campaignName').val('{{ campaign.name }}');
                $('#campaignDescription').val('{{ campaign.description }}');
                $('#startTime').val('{{ campaign.start_ts|timestamp_html_datetime_input }}');
                $('#endTime').val('{{ campaign.end_ts|timestamp_html_datetime_input }}');
            {% endif %}

            // Column type selection
            $('#tableNewDataSources').on('change', 'select[name="columnType"]', function() {
                // get views
                let categoricalCheckbox = $(this).parents("tr").find('input[name="columnCategorical"]');
                let acceptedValuesInput = $(this).parents("tr").find('input[name="columnAcceptedValues"]');

                // get column type and categorical-ness
                let columnTypeLower = $(this).val().toLowerCase();
                let isCategorical = categoricalCheckbox.is(":checked");

                // change view properties based on column type
                switch (columnTypeLower) {
                    case "timestamp":
                        // timestamp column is an exception
                        categoricalCheckbox.prop('disabled', true);
                        categoricalCheckbox.hide();
                        // timestamp cannot have custom constraints
                        acceptedValuesInput.hide();
                        break;
                    case "text":
                        // text column is always categorical
                        categoricalCheckbox.prop('checked', true);
                        categoricalCheckbox.prop('disabled', true);
                        categoricalCheckbox.show();
                        // text column can have constraints
                        acceptedValuesInput.show();
                        break;
                    default:
                        // integer and float columns can be categorical or quantitative
                        categoricalCheckbox.prop('disabled', false);
                        categoricalCheckbox.show();
                        // integer and float columns can have constraints
                        acceptedValuesInput.show();
                        break;
                }
            });
            // Set initial props (column type selection)
            $('#tableNewDataSources select[name="columnType"]').change();

            // Adding new column to data source
            $('#btnAddColumn').click(function() {
                // get table
                let table = $('#tableNewDataSources');

                // get last row
                let lastRow = table.find('tbody tr:last');

                // clone last row
                let newRow = lastRow.clone();

                // clear inputs
                newRow.find('input').val('');

                // add new row
                lastRow.after(newRow);
            });

            // Add new data source click (save modal content to global new data sources list)
            $('#btnAddNewDataSource').click(function() {
                // get data source name and check if it is valid
                let dataSourceName = $('#dataSourceName').val();
                if (dataSourceName === "") {
                    alert("Data source name cannot be empty.");
                    return;
                }
                if (existingDataSourceNames.find(dsName => dsName === dataSourceName) !== undefined) {
                    alert("Data source with this name already exists.");
                    return;
                }
                if (newDataSources.find(ds => ds.name === dataSourceName) !== undefined) {
                    alert("Data source with this name already exists.");
                    return;
                }
                
                // get data source columns and check if they are valid
                let dataSourceColumns = [];
                $('#tableNewDataSources tbody tr').each(function() {
                    let columnName = $(this).find('input[name="columnName"]').val();
                    if (columnName === "") {
                        return;
                    }
                    let columnType = $(this).find('select[name="columnType"]').val();
                    let columnCategorical = $(this).find('input[name="columnCategorical"]').is(":checked");
                    let columnAcceptedValues = $(this).find('input[name="columnAcceptedValues"]').val();

                    // validate inputs
                    if (columnType === "timestamp") {
                        columnCategorical = false;
                        columnAcceptedValues = null;
                    } else if (columnType === "text") {
                        columnCategorical = true;
                    }
                    if (columnAcceptedValues === "") {
                        columnAcceptedValues = null;
                    }

                    // add column to data source columns
                    dataSourceColumns.push({
                        name: columnName,
                        column_type: columnType,
                        is_categorical: columnCategorical,
                        accept_values: columnAcceptedValues
                    });
                });
                if (dataSourceColumns.length === 0) {
                    alert("Please fill in all required fields!");
                    return;
                }

                // add new data source to global new data sources list
                newDataSources.push({
                    name: dataSourceName,
                    columns: dataSourceColumns
                });

                // add new data source to ui into divNewDataSources (as a checkbox)
                let columnNamesStr = dataSourceColumns.map(c => c.name).join(", ");
                $('#divNewDataSources').append(`
                    <div>
                        <label class="form-check-label" style="cursor: pointer">
                            <!-- Data source selection checkbox -->
                            <input class="form-check-input data-source-checkbox" style="cursor: pointer" data-source-name="${dataSourceName}" type="checkbox" checked>
                            <!-- Data source name -->
                            <span class="pl-1">
                                ${dataSourceName} (${columnNamesStr})
                            </span>
                        </label>
                    </div>
                `)

                // reset inputs and close modal
                $('#dataSourceName').val('');
                $('#tableNewDataSources tbody tr').not(':first').remove();
                $('#tableNewDataSources tbody tr input').val('');
                $('#modalNewDataSource').modal('hide');
            });

            // Cancel click
            $('#btnCancel').click(() => window.location.href = '{% url "campaigns" %}');

            // Save campaign click
            $('#btnSaveCampaign').click(function() {
                // get campaign metadata
                let campaignName = $('#campaignName').val();
                let startTime = $('#startTime').val();
                let endTime = $('#endTime').val();
                if (campaignName === "" || startTime === "" || endTime === "") {
                    alert("Please fill in all required fields!");
                    return;
                }
                let campaignDescription = $('#campaignDescription').val();

                // validate start and end time
                let startTimeTs = new Date(startTime).getTime();
                let endTimeTs = new Date(endTime).getTime();
                if (startTimeTs >= endTimeTs) {
                    alert("Start time must be before end time!");
                    return;
                }

                // get selected data sources and check if they are valid
                let selectedDataSources = [];
                $('.data-source-checkbox').each(function() {
                    if ($(this).is(":checked")) {
                        let dsName = $(this).data("sourceName");
                        var tmp = existingDataSourceNames.find(x => x === dsName); // data source name
                        if (tmp !== undefined) {
                            selectedDataSources.push({name: tmp});
                            return;
                        }
                        tmp = newDataSources.find(ds => ds.name === dsName); // data source object
                        if (tmp !== undefined) {
                            selectedDataSources.push(tmp);
                        }
                    }
                });
                if (selectedDataSources.length === 0) {
                    alert("Please select at least one data source!");
                    return;
                }
                
                // prepare data for ajax call
                const requestURL = {% if campaign is None %}"{% url 'create-campaign-api' %}"{% else %}"{% url 'edit-campaign-api' %}"{% endif %};
                const requestData = {
                    email: '{{ request.user.email }}',
                    {% if campaign is not None %}campaign_id: {{ campaign.id }},{%endif%}
                    name: campaignName,
                    description: campaignDescription,
                    start_datetime: startTime,
                    end_datetime: endTime,
                    data_sources: JSON.stringify(selectedDataSources),
                };
                
                // save campaign with ajax call and redirect to campaigns page
                $.ajax({
                    url: requestURL,
                    type: {% if campaign is None %}"post"{% else %}"put"{% endif %},
                    data: requestData,
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function(data) {
                        alert("Campaign saved successfully!");
                        window.location.href = '{% url "campaigns" %}';
                    },
                    error: function(error) {
                        alert(`Error while saving campaign. Error: ${error.responseText}`);
                    }
                });
            });
        });
    </script>
{% endblock %}
