{% extends 'base.html' %}
{% block content %}

    <!-- Login card -->
    <div>
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem; margin: 0 auto; margin-top: 5rem;">
            <div class="card-body">
                <h2 class="card-title text-center">Login</h5>
                
                <a href="{% url 'social:begin' 'google-oauth2' %}{% if next %}?next={{ next }}{% endif %}" id="loginButton" class="btn btn-primary" style="width: 100%; margin-top: 1rem;">
                    Login with Google
                </a>

                <a href="{% url 'dev-login' %}" class="btn btn-primary" style="width: 100%; margin-top: 1rem;">
                    Login with test account
                </a>
            </div>
        </div>
    </div>

    <script>
        let gAuth; // Google Auth object

        $(document).init(function () {
            
            // upon clicking the login button, load the google auth2 api and then authorize the user
            $('#loginButton').click(function () {
                gapi.load('auth2', function () {
                    // Retrieve the singleton for the GoogleAuth library and set up the client.
                    gapi.auth2.authorize({
                        client_id: '79296265957-khvficocpqmhajv3c5obiljo2k95jqt3.apps.googleusercontent.com',
                        scope: "email profile openid",
                        response_type: 'id_token permission'
                    }, function (response) {
                        if (response.error) {
                            alert('Failed to login, please try again!'); // todo: error message modal instead
                            return;
                        }

                        // extract the id token from the response
                        let idToken = response.id_token;
                        let redirectUrl = `${location.protocol}//${location.host}{% url 'login' %}?idToken=${idToken}`;
                        
                        // redirect to the login page with the id token
                        window.location.replace(redirectUrl); // todo: any better way?
                    });
                });
            });
        });

        function initGoogleApiClient() {
            gapi.client.init({
                'apiKey': 'AIzaSyC0RSyYQIVC0palvzQQ5YUEW6g1taUT2VY',
                'clientId': '79296265957-khvficocpqmhajv3c5obiljo2k95jqt3.apps.googleusercontent.com',
                'scope': "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile openid",
            }).then(function () {
                gAuth = gapi.auth2.getAuthInstance();
                gAuth.isSignedIn.listen(updateSigninStatus);
            });
        }

        function updateSigninStatus(isSignedIn) {
            console.log('updateSigninStatus');
            if (isSignedIn) {
                // todo redirect here

                let user = gAuth.currentUser;
                console.log(`user: ${user}`);

                let resp = user.getAuthResponse();
                console.log(`resp: ${resp}`);

                let idToken = resp.id_token;
                console.log(`idToken: ${idToken}`);
            }
        }
    </script>
{% endblock %}
