{% extends 'base.html' %}
{% block content %}
    {% if error %}
        <h2 id="errorMessage">Failed to create the campaign, please try again!</h2>
    {% endif %}

    {% load fix_localhost %}

    <form action="{% url 'campaign-editor' %}" method="post">
        {% csrf_token %}
        <input type="number" name="campaign_id" value="{% if edit_mode %}{{ campaign.id }}{% else %}-1{% endif %}" hidden>
        <table id="inputTable">
            <tr>
                <td><label for="name">Name</label>
                <td><input id="name" type="text" name="name" placeholder="e.g., My First Data Collection Campaign" required value="{% if edit_mode %}{{ campaign.name }}{% endif %}"></td>
            </tr>
            <tr>
                <td><label for="notes">Notes on<br>the campaign</label>
                <td><textarea name="notes" id="notes" cols="100" rows="10" placeholder="Notes on the campaign">{% if edit_mode %}{{ campaign.notes }}{% endif %}</textarea></td>
            </tr>
            <tr>
                <td><label for="startTime">Start time</label>
                <td><input name="startTime" id="startTime" type="datetime-local" required value="{% if edit_mode %}{{ campaign_start_time }}{% else %}{{ now_time }}{% endif %}"/></td>
            </tr>
            <tr>
                <td><label for="endTime">End time</label>
                <td><input name="endTime" id="endTime" type="datetime-local" required value="{% if edit_mode %}{{ campaign_end_time }}{% else %}{{ after_month_time }}{% endif %}"/></td>
            </tr>
        </table>
        
        <a id="addRowButton" onclick="onNewDataSourceClick()">NEW DATA SOURCE</a>

        <table id="dataSourceTable">
            <tr>
                <th>Selected</th>
                <th>Icon</th>
                <th>Data source name</th>
            </tr>
            {% if edit_mode %}
                <!-- editing an existing campaign -->
                {% for data_source in data_sources %}
                    <tr data-source="{{ data_source.name }}" class="{% if data_source.selected %}selected_data_source{% else %}data_source{% endif %}">
                        <td><input type="checkbox" name="DATA_SOURCE_{{ data_source.name }}" {% if data_source.selected %}checked{% endif %}></td>
                        <td><img src="http://{{ STATIC_HOST|fix_localhost }}:{{ STATIC_PORT }}/images/data_source/{{ data_source.icon_name }}" alt=""></td>
                        <td>{{ data_source.name }}</td>
                        <td> </td>
                    </tr>
                {% endfor %}
            {% else %}
                <!-- creating a new campaign -->
                {% for data_source in data_sources %}
                    <tr data-source="{{ data_source.name }}" class="data_source">
                        <td><input type="checkbox" name="DATA_SOURCE_{{ data_source.name }}"></td>
                        <td><img src="http://{{ STATIC_HOST|fix_localhost }}:{{ STATIC_PORT }}/images/data_source/{{ data_source.icon_name }}" alt=""></td>
                        <td>{{ data_source.name }}</td>
                        <td> </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>

        <div>
            <a href="{% url 'campaigns-list' %}" id="cancel_campaign_creation_button">Cancel</a>
            <input type="submit" value="{% if edit_mode %}Save changes{% else %}Create{% endif %}" id="create_campaign_button">
        </div>
    </form>

    <div id="data_source_editor_root">
        <div id="data_source_editor">
        
            <span class="dataSourceEditorSection">Data source name</span>
            <input type="text" id="modalDataSourceName" value="" placeholder="e.g. GPS">
    
            <span class="dataSourceEditorSection">Data source columns</span>
            <table id="data_source_editor_table">
                <tr>
                    <td><input type="text" name="column_name" placeholder="e.g., Timestamp" required></td>
                    <td>
                        <select name="column_type" required>
                            <option>Timestamp</option>
                            <option>Text</option>
                            <option>Integer</option>
                            <option>Float</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div>
                <a class="cancel_button" onclick="closeDataSourceModalClick()">CANCEL</a>
                <a class="add_button" onclick="addDataSourceColumnClick()">ADD COLUMN</a>
                <a class="save_button" onclick="dataSourceReadyClick()">READY / SAVE</a>
            </div>
            <div style="padding-bottom: 20px;"></div>
        </div>
    </div>

    <script>
        let dataSourceTable;
        let counter = 0;
        let removeInactiveUsersCheckbox;
        let removeInactiveUsersNumberInput;

        document.addEventListener("DOMContentLoaded", () => {
            dataSourceTable = document.getElementById("dataSourceTable");
            removeInactiveUsersCheckbox = document.getElementById("removeInactiveUsersCheckbox");
            removeInactiveUsersNumberInput = document.getElementById("removeInactiveUsersNumberInput");

            const rows = document.querySelectorAll("tr[data-source]");
            rows.forEach(row => {
                row.style.cursor = "pointer";
                let checkBox = row.firstElementChild.firstElementChild;
                let input = row.lastElementChild.firstElementChild;
                row.addEventListener("click", () => {
                    checkBox.checked = !checkBox.checked;
                    row.className = checkBox.checked ? "selected_data_source" : "data_source";
                    if (checkBox.checked) {
                        input.removeAttribute("disabled");
                        input.setAttribute("required", "");
                        input.focus();
                        input.select();
                    } else {
                        input.setAttribute("disabled", "");
                        input.removeAttribute("required");
                    }
                });
            });
        });

        function onInsertNewRowClick(name, configurations) {
            let row = dataSourceTable.insertRow(1);
            row.style.cursor = "pointer";
            row.className = "data_source";
            row.setAttribute("new-data-source", "new-data-source");
            let cell = row.insertCell(); // index 0
            cell.innerHTML = `<input name="DATA_SOURCE_${name}" type="checkbox">`;
            cell = row.insertCell(); // index 1
            {% load fix_localhost %}
            cell.innerHTML = `<img src="http://{{ STATIC_HOST|fix_localhost }}:{{ STATIC_PORT }}/images/data_source/new.png" alt="">`;
            cell = row.insertCell(); // index 2
            cell.innerHTML = `<input name="DATA_SOURCE_${name}" type="text" value="${name}" class="jsonField" disabled>`;
            cell = row.insertCell(); // index 3
            cell.innerHTML = `<input name="CONFIGURATIONS_${name}" type="text" value="${configurations}" style="display: none" disabled>`;

            const rows = document.querySelectorAll("tr[new-data-source]");
            rows.forEach(row => {
                row.removeAttribute("new-data-source");
                let checkBox = row.childNodes[0].firstElementChild;
                let nameInput = row.childNodes[2].firstElementChild;
                let configurationsInput = row.childNodes[3].firstElementChild;

                if (!nameInput.hasAttribute("listenerIsSet")) {
                    checkBox.setAttribute("defaultName", checkBox.getAttribute("name"));
                    nameInput.addEventListener('input', function (_) {
                        if (nameInput.value.length === 0) {
                            nameInput.value = checkBox.getAttribute("defaultName");
                            checkBox.name = checkBox.getAttribute("defaultName");
                        }
                        checkBox.name = `DATA_SOURCE_${nameInput.value}`;
                        nameInput.name = `DATA_SOURCE_${nameInput.value}`;
                        configurationsInput.name = `CONFIGURATIONS_${nameInput.value}`;
                    });
                    nameInput.setAttribute("listenerIsSet", 'true');
                }

                row.addEventListener("click", () => {
                    checkBox.checked = !checkBox.checked;
                    row.className = checkBox.checked ? "selected_data_source" : "data_source";
                    if (checkBox.checked) {
                        nameInput.removeAttribute("disabled");
                        nameInput.setAttribute("required", "");

                        configurationsInput.removeAttribute("disabled");
                        configurationsInput.setAttribute("required", "");

                        nameInput.focus();
                        nameInput.select();
                    } else {
                        nameInput.setAttribute("disabled", "");
                        nameInput.removeAttribute("required");

                        configurationsInput.setAttribute("disabled", "");
                        configurationsInput.removeAttribute("required");
                    }
                });

                nameInput.onclick = e => e.stopPropagation();
                configurationsInput.onclick = e => e.stopPropagation();
            });

            row = function (ev) {
                let row = document.getElementById(ev.id);
                let checkBox = row.childNodes[0].firstElementChild;
                let nameInput = row.childNodes[2].firstElementChild;

                checkBox.checked = !checkBox.checked;
                row.className = checkBox.checked ? "selected_data_source" : "data_source";
                if (checkBox.checked) {
                    nameInput.removeAttribute("disabled");
                    nameInput.setAttribute("required", "");

                    nameInput.focus();
                    nameInput.select();
                } else {
                    nameInput.setAttribute("disabled", "");
                    nameInput.removeAttribute("required");
                }
            };
            counter++;
        }
        
        function addDataSourceColumnClick() {
            // get string of last tr element's from data_source_editor_table
            let lastRow = document.getElementById("data_source_editor_table").firstElementChild.lastElementChild.outerHTML;
            
            // create a new row with empty input values
            let newRow = lastRow.replace(/value=".*?"/g, 'value=""');
            
            // add the new row to the table
            document.getElementById("data_source_editor_table").firstElementChild.insertAdjacentHTML("beforeend", newRow);
        }

        function dataSourceReadyClick() {
            // get all rows in data_source_editor_table
            let rowElements = document.getElementById("data_source_editor_table").firstElementChild.children;
            
            // loop through all rows except first one
            let columns = [];
            for (let i = 0; i < rowElements.length; i++) {
                let row = rowElements[i];
                let columnName = row.firstElementChild.firstElementChild.value;
                
                let x = row.lastElementChild.firstElementChild;
                let columnType = x.options[x.selectedIndex].text.toLowerCase();
                
                // add columnName and columnType to columns array as json elements
                columns.push({index: i, name: columnName, type: columnType});
            }
            let columnsString = JSON.stringify(columns).replace(/"/g, '&quot;');
            
            // get value of modalDataSourceName input
            let dataSourceName = document.getElementById("modalDataSourceName").value;
            onInsertNewRowClick(dataSourceName, columnsString);
            
            closeDataSourceModalClick();
        }

        function onNewDataSourceClick() {
            // display #data_source_editor_root modal on top of page with jquery
            document.getElementById("data_source_editor_root").style.display = "block";
        }

        function closeDataSourceModalClick() {
            // clear all input elements inside data_source_editor
            document.getElementById("data_source_editor").querySelectorAll("input").forEach(input => input.value = "");
            
            // delete all inner elements in tableContents except the first element
            let tableContent = document.getElementById("data_source_editor_table").firstElementChild;
            while (tableContent.childElementCount > 1)
                tableContent.removeChild(tableContent.lastElementChild);
            
            // hide modal
            document.getElementById("data_source_editor_root").style.display = "none";
        }
    </script>

    <style>
        #data_source_editor_root {
            /* full screen background div with dark background */
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            display: none;
        }

        #data_source_editor {
            /* modal in center of screen */
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            /* modal width */
            width: 50%;
            /* modal height - wrap contents */
            height: auto;
            /* modal background */
            background: #fff;
            /* modal border business blue */
            border: 1px solid #007bff;
            /* modal border radius */
            border-radius: 5px;
            /* modal box shadow */
            box-shadow: 0 0 10px #000;
            /* padding 10px */
            padding: 10px;
        }

        #modalDataSourceName {
            display: block;
            width: 100%;
        }

        .dataSourceEditorSection {
            display: block;
            margin: 10px;
        }

        #data_source_editor_table tr {
            /* full width */
            width: 100%;
            /* tr border */
            border: 1px solid #ccc;
            /* tr border radius */
            border-radius: 5px;
            /* tr padding */
            padding: 10px;
            margin-top: 10px;
        }

        #data_source_editor_table input {
            /* fill the remaining width */
            width: 100%;
        }

        .save_button, .add_button, .cancel_button {
            display: inline-block;
            padding: 8px;
            color: white;
            border: none;
            border-radius: 5px;
            margin-bottom: 20px;
            cursor: pointer;
            margin-right: 10px;
            float: right;
        }
        .save_button, .add_button {
            background: #2ecc71;
        }
        .cancel_button {
            background: #e74c3c;
        }

        .save_button:hover, .add_button:hover, .cancel_button:hover {
            background: #666;
            color: #FFF;
        }

        #errorMessage {
            color: orangered;
        }

        table {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px;
            text-align: center;
        }

        #notes {
            min-width: 60%;
            max-width: 90%;
            max-height: 60%;
        }

        #inputTable tr td input {
            background: white;
            border: #ccc 1px solid;
            border-bottom: #ccc 2px solid;
            padding: 8px;
            color: black;
            font-size: 1em;
            width: 90%;
        }

        /* Cells in even rows (2,4,6...) are one color */
        #dataSourceTable tr:first-child {
            background: #4285F4; /* #F1F1F1; /* Darken header a bit */
            color: white;
            font-weight: bold;
            padding: 10px 0;
            font-size: large;
        }

        #dataSourceTable tr.data_source:nth-child(even) td {
            background: white;
        }

        #dataSourceTable tr.data_source:nth-child(even) td {
            background: white;
        }

        /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
        #dataSourceTable tr.data_source:nth-child(odd) td {
            background: #DFDFDF;
        }

        #dataSourceTable tr.data_source:not(:first-child):hover td {
            background: #666;
            color: white;
        }

        #dataSourceTable tr.selected_data_source td {
            background: lightgreen;
        }

        #create_campaign_button {
            background: #2ecc71;
            padding: 20px;
            color: white;
            border: none;
            border-radius: 5px;
            margin-bottom: 20px;
            float: right;
            font-size: larger;
            cursor: pointer;
        {#transition: all 0.3s;#} text-decoration: none;
        }

        #create_campaign_button:hover {
            background: #666;
            color: #FFF;
        }

        #cancel_campaign_creation_button {
            background: orangered;
            padding: 20px;
            color: white;
            border: none;
            border-radius: 5px;
            margin-bottom: 20px;
            float: left;
            font-size: larger;
            cursor: pointer;
        {#transition: all 0.3s;#} text-decoration: none;
        }

        #cancel_campaign_creation_button:hover {
            background: #666;
            color: #FFF;
        }

        {#JSON fields#}
        input.jsonField[type=text] {
            text-align: center;
        }

        #addRowButton {
            width: 50%;
            background: #4285F4;
            margin: 10px 0;
            padding: 10px;
            float: right;
            color: white;
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: larger;
            cursor: pointer;
            text-decoration: none;
        {#transition: all 0.3s;#}
        }

        #addRowButton:hover {
            background: darkblue;
        }
    </style>
{% endblock %}